.categories

	.categories__item-inner
		.categories__item
			h3.categories__item-name Горные лыжи

	.categories__item-inner
		.categories__item
			h3.categories__item-name Сноуборд

	.categories__item-inner
		.categories__item
			h3.categories__item-name BMX

	.categories__item-inner
		.categories__item
			h3.categories__item-name Дельтаплан


a.btn.btn--white Все виды спорта