.category-banner
	.category-banner__wrapper
		h2.category-banner__title Аэротруба
		p.category-banner__adds 4 варианта

	.category-banner__flow-inner
		p.category-banner__flow Больше 200 человек летали на Аэротрубе в Петербурге!

.category-banner
	.category-banner__wrapper
		h2.category-banner__title Скейтборд
		p.category-banner__adds 30 вариантов

	.category-banner__flow-inner
		p.category-banner__flow Открытые и крытые парки в Петербурге и Ленинградской области.

.category-banner
	.category-banner__wrapper
		h2.category-banner__title Горные лыжи и&nbsp;сноуборд 
		p.category-banner__adds 12 вариантов

	.category-banner__flow-inner
		p.category-banner__flow Все горнолыжные курорты Петербурга и Ленинградской области! 