header.header
		.container-fluid
			.row
				
				.col-xs-3
					a.header__logo
						img

				.col-xs-9
					nav.main-nav.pull-right
						ul.main-nav__list
							li.main-nav__item
								a(href="#") Виды спорта
							li.main-nav__item
								a(href="#") Блог
							li.main-nav__item.main-nav__item--favs
								a(href="#") Закладки
							li.main-nav__item
								a(href="#") Корзина


							a.btn.btn--header(href="#") Вход и регистрация