.product-banner
		.product-banner__img-inner
			img.product-banner__img(src="img/product-banner.jpg")

		.product-banner__wrapper
			h4.product-banner__title 
				a Прыжки с парашютом

			.product-banner__flow 
				p.product-banner__flow-name Батутный центр Skylife
				p.product-banner__flow-location Россия, Санкт-Петербург


			.product-banner__rating 
				//- i.product-banner__rating-stars
			.product-banner__fav


.product-banner
		.product-banner__img-inner
			img.product-banner__img(src="img/product-banner.jpg")

		.product-banner__wrapper
			h4.product-banner__title 
				a Прыжки с парашютом

			.product-banner__flow 
				p.product-banner__flow-name Батутный центр Skylife
				p.product-banner__flow-location Россия, Санкт-Петербург


			.product-banner__rating 
				//- i.product-banner__rating-stars
			.product-banner__fav

.product-banner
		.product-banner__img-inner
			img.product-banner__img(src="img/product-banner.jpg")

		.product-banner__wrapper
			h4.product-banner__title 
				a Прыжки с парашютом

			.product-banner__flow 
				p.product-banner__flow-name Батутный центр Skylife
				p.product-banner__flow-location Россия, Санкт-Петербург


			.product-banner__rating 
				//- i.product-banner__rating-stars
			.product-banner__fav

.product-banner
		.product-banner__img-inner
			img.product-banner__img(src="img/product-banner.jpg")

		.product-banner__wrapper
			h4.product-banner__title 
				a Прыжки с парашютом

			.product-banner__flow 
				p.product-banner__flow-name Батутный центр Skylife
				p.product-banner__flow-location Россия, Санкт-Петербург


			.product-banner__rating 
				//- i.product-banner__rating-stars
			.product-banner__fav

.product-banner
		.product-banner__img-inner
			img.product-banner__img(src="img/product-banner.jpg")

		.product-banner__wrapper
			h4.product-banner__title 
				a Прыжки с парашютом

			.product-banner__flow 
				p.product-banner__flow-name Батутный центр Skylife
				p.product-banner__flow-location Россия, Санкт-Петербург


			.product-banner__rating 
				//- i.product-banner__rating-stars
			.product-banner__fav

.product-banner
		.product-banner__img-inner
			img.product-banner__img(src="img/product-banner.jpg")

		.product-banner__wrapper
			h4.product-banner__title 
				a Прыжки с парашютом

			.product-banner__flow 
				p.product-banner__flow-name Батутный центр Skylife
				p.product-banner__flow-location Россия, Санкт-Петербург


			.product-banner__rating 
				//- i.product-banner__rating-stars
			.product-banner__fav

