.supheader
	.container-fluid
		.row
			.supheader__wrapper
				ul.supheader__list.pull-right
					li.supheader__item.supheader__item--geo Россия, Санкт-Петербург
					li.supheader__item.supheader__item--curr Рубли
					li.supheader__item.supheader__item--lang RU
