// COLORS

@text-color: 		#333333;
@text-gray: 		#666666;
@light-gray: 		#b2b2b2;
@white-gray: 		#f2f2f2;

@main-color: 		#2466bc;
@add-color:			#1b4d8d;
@accent-color: 		#ea544e;
@green: 			#4a8456;

@main-color--darker: darken(@main-color, 10%);
@accent-color--darker: #d44c46;

@main-color--lighter: #c0d8fa;



// FONTS

@font-family: 		'Roboto', 'Arial', sans-serif;
@font-cond: 		'Roboto Condensed', 'Arial', sans-serif;


@text-size: 		16px;
@text-size--h4: 	18px;
@text-size--h3: 	21px;
@text-size--h2: 	28px;
@text-size--sm: 	14px;